body {
    background-color: gray;
  }
  
  #timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
  }

  #input-area, #button-area { 
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  input[type="number"], #display {
    width: 50px;
    height: 50px;
    border: none;
    background-color: green;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
  }
  
  button {
    border: none;
    color: green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  button#start {
    background-color: white;
    border: none;
    border-radius: 5px;
  }
  
  button#stop {
    background-color: white;
    border: none;
    border-radius: 5px;
  }
  
  button#reset {
    background-color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #display {
    width: 180px;
    height: 40px;
    background-color: ivory;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: #333;
  }